<form [formGroup]="viewModel.form" class="task-form">
  <div class="input-wrapper">
    <ion-item lines="none" class="form-item">
      <ion-label position="stacked">{{ labels.title }}</ion-label>
      <ion-input
        formControlName="title"
        [placeholder]="labels.titlePlaceholder"
        type="text"
      ></ion-input>
    </ion-item>

    @if (isTitleInvalid()) {
    <ion-text color="danger" class="error-text">
      <small>{{ labels.titleError }}</small>
    </ion-text>
    }
  </div>

  <div class="input-wrapper">
    <ion-item lines="none" class="form-item">
      <ion-label position="stacked">{{ labels.description }}</ion-label>
      <ion-textarea
        formControlName="description"
        [placeholder]="labels.descriptionPlaceholder"
        rows="3"
      ></ion-textarea>
    </ion-item>
  </div>

  <div class="input-wrapper">
    <ion-label class="standalone-label">{{ labels.category }}</ion-label>
    <app-category-selector
      [categories]="categories"
      [selectedCategoryId]="viewModel.form.get('categoryId')?.value"
      (categorySelected)="onCategorySelected($event)"
    ></app-category-selector>
  </div>

  <div class="input-wrapper">
    <ion-item lines="none" class="form-item datetime-item">
      <ion-label position="stacked">{{ labels.dueDate }}</ion-label>
      <ion-datetime-button datetime="dueDate"></ion-datetime-button>
    </ion-item>

    <ion-modal [keepContentsMounted]="true" class="datetime-modal">
      <ng-template>
        <ion-datetime
          id="dueDate"
          formControlName="dueDate"
          presentation="date"
          [showDefaultButtons]="true"
          doneText="Confirmar"
          cancelText="Cancelar"
          [locale]="config.datetime.locale"
        ></ion-datetime>
      </ng-template>
    </ion-modal>
  </div>

  <div class="form-section">
    <div class="section-header">
      <ion-label class="section-label">{{ labels.subTasks }}</ion-label>
      <ion-button
        fill="clear"
        size="small"
        (click)="onAddSubTask()"
        class="add-button"
      >
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        {{ labels.addSubTask }}
      </ion-button>
    </div>

    <div formArrayName="subTasks" class="subtasks-list">
      @for (subTask of viewModel.subTasksArray.controls; track $index; let i =
      $index) {
      <div [formGroupName]="i" class="subtask-input-group">
        <ion-item lines="none" class="subtask-item">
          <ion-input
            formControlName="title"
            [placeholder]="labels.subTaskPlaceholder"
            type="text"
          ></ion-input>
          <ion-button
            slot="end"
            fill="clear"
            color="danger"
            (click)="onRemoveSubTask(i)"
          >
            <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
      }
    </div>
  </div>

  <div class="form-actions">
    <ion-button
      expand="block"
      fill="outline"
      color="medium"
      (click)="onCancel()"
    >
      {{ labels.cancel }}
    </ion-button>
    <ion-button
      expand="block"
      color="primary"
      (click)="onSave()"
      [disabled]="!viewModel.isValid()"
    >
      {{ isEditMode ? labels.update : labels.create }}
    </ion-button>
  </div>
</form>
