<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBackToHome()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Novedades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <div class="empty-state">
      <ion-icon name="newspaper-outline"></ion-icon>
      <h3>Próximamente</h3>
      <p>Aquí encontrarás las últimas novedades y actualizaciones</p>
    </div>
  </div>
</ion-content>
